<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Userpage</title>
    <link rel="stylesheet" href="{% static "css/global.css" %}" />
  </head>
  <body>
    <h1>My User Page</h1>
    <p>
      The purpose of a web browser (Chrome, Edge, Firefox, Safari) is to read
      HTML documents and display them correctly.
    </p>
    <div>
      {% if users_record %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          {% for user in users_record %}
          <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No Access Record Found!</p>
      {% endif %}
    </div>
    <img src="{% static "images/items-images-one.png" %}" alt="Images Static">
  </body>
</html>
